build/
build-*/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

*.exe
*.out

*.o
*.obj

*.a
*.lib
*.so
*.dll
*.dylib

*.pdb

*.log
*.tmp

.vscode/

.vs/
*.vcxproj*
*.sln
*.user
*.filters
*.opendb
*.VC.db

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
